.about-layout {
  overflow: auto;
}

.jf-image {
  width: 172px;
  height: 172px;
  @media only screen and (min-width: 768px) {
    width: 235px;
    height: 235px;
  }
}

.about-container {
  position: absolute;
  top: 10%;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #FFF;
  padding-bottom: 5%;

  @media only screen and (min-width: 767px) {
    width: 100%;
  }

  @media only screen and (max-height: 850px) {
    padding: 5% 0;
  }

  @media only screen and (max-width: 450px), only screen and (max-height: 850px) {
    padding: 5% 0;
  }
}

.about-title {
  font-size: 36px;
  font-weight: 600;
}

.about-info {
  width: 85%;
  @media only screen and (min-width: 1024px) {
    width: 75%;
  }
  @media only screen and (min-width: 1440px) {
    font-size: 20px;
    max-width: 50%;
  }
}

.list-block {
  display: flex;
  flex-direction: row;
  > ul:first-of-type {
    padding-left: 20px;
  }
}
