@import '../../styles/orbit';
@import '../../styles/nonStandardOrbit';
@import '../../styles/rightAnimation';

.about-layout {
  overflow: auto;
}

.jf-image {
  width: 188px;
  height: 172px;
  @media only screen and (min-width: 768px) {
    width: 260px;
    height: 235px;
  }
}

.about-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 25px 65px 25px;
  min-height: calc(100% - 185px);
  overflow: hidden;

  @media only screen and (min-width: 768px) {
    min-height: calc(100% - 150px);
    width: calc(100% - 50px);
    padding: 75px 25px 75px 25px;
  }
}

.circle-top-right {
  width: 225px;
  height: 225px;
  background: #FFE79D;
  border-radius: 200px;
  position: absolute;
  right: -100px;
  top: -120px;
  z-index: -1;
  @media only screen and (min-width: 768px) {
    width: 450px;
    height: 450px;
    border-radius: 450px;
    right: -300px;
    top: -120px;
  }
  @media only screen and (min-width: 1440px) {
    right: -221px;
    top: -148px;
  }
}

.triangle-top {
  @media only screen and (min-width: 1440px) {
    background-color: #9DC2FF;
    width: 500px;
    height: 650px;
    position: absolute;
    transform: rotate(79deg);
    z-index: -1;
    left: -60px;
    top: -402px;
  }
}

.triangle-left {
  display: none;
  background-color: #F6C5A8;
  width: 350px;
  height: 350px;
  position: absolute;
  transform: rotate(35deg);
  z-index: -1;
  left: -200px;
  top: 200px;
  @media only screen and (min-width: 768px) {
    display: initial;
  }
  @media only screen and (min-width: 1440px) {
    width: 580px;
    height: 400px;
    transform: rotate(46deg);
    left: -240px;
    top: 80%;
  }
}

.triangle-bottom-right {
  background: #87FFA9;
  width: 300px;
  height: 300px;
  bottom: -150px;
  right: -200px;
  position: absolute;
  transform: rotate(35deg);
  z-index: -1;
  @media only screen and (min-width: 768px) {
    width: 450px;
    height: 450px;
    bottom: -300px;
  }
}

.about-title {
  font-size: 36px;
  font-weight: 600;
}

.about-info {
  @media only screen and (min-width: 1440px) {
    font-size: 20px;
    max-width: 50%;
  }
}

.list-block {
  display: flex;
  flex-direction: row;
  > ul:first-of-type {
    padding-left: 20px;
  }
}

.hexagon-left {
  position: absolute;
  width: 300px;
  left: -150px;
  bottom: 200px;
  height: 180px;
  background-color: #F6C5A8;
  margin: 86.60px 0;
  z-index: -1;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
.hexagon-left:before,
.hexagon-left:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  @media only screen and (min-width: 768px) {
    border-left: 225px solid transparent;
    border-right: 225px solid transparent;
  }
}
.hexagon-left:before {
  bottom: 100%;
  border-bottom: 86.60px solid #F6C5A8;
  @media only screen and (min-width: 768px) {
    border-bottom: 129.90px solid #F6C5A8;
  }
}
.hexagon-left:after {
  top: 100%;
  width: 0;
  border-top: 86.60px solid #F6C5A8;
  @media only screen and (min-width: 768px) {
    border-bottom: 129.90px solid #F6C5A8;
  }
}