.about-layout {
  overflow: auto;
}

.jf-image {
  width: 172px;
  height: 172px;
  @media only screen and (min-width: 768px) {
    width: 235px;
    height: 235px;
  }
}

.about-container {
  position: absolute;
  top: 15%;
  left: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #FFF;
  padding-bottom: 5%;

  @media only screen and (min-width: 767px) {
    width: 100%;
  }

  @media only screen and (max-height: 850px) {
    padding: 5% 0;
  }

  @media only screen and (max-width: 450px), only screen and (max-height: 850px) {
    padding: 10% 0;
  }

  @media only screen and (min-width: 1024px) {
    top: 10%;
  }
}

.about-title {
  font-size: 36px;
  font-weight: 600;
  width: 85%;
  @media only screen and (min-width: 1024px) {
    width: 75%;
  }
  @media only screen and (min-width: 1440px) {
    max-width: 50%;
  }
}

.about-info {
  width: 85%;
  transition: all 0.2s ease-in-out;
  @media only screen and (min-width: 1024px) {
    width: 75%;
  }
  @media only screen and (min-width: 1440px) {
    font-size: 20px;
    max-width: 50%;
  }
}

.list-block {
  display: flex;
  flex-direction: row;
  > ul:first-of-type {
    padding-left: 20px;
  }
}

.call-to-actions {
  align-items: center;
  display: flex;
  width: 100%;
  flex-flow: wrap;

  a {
    width: 100%;
    font-weight: bold;
    margin-top: 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #FFF;
    color: #212121 !important;
    padding: 10px 20px 10px 20px;
    align-self: stretch;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    @media only screen and (min-width: 768px) {
      width: initial;
      margin-right: 35px;
    }
    &:hover {
      transition: all 0.3s ease-in-out;
      background: #212121;
      color: #FFF !important;
      border: 1px solid #FFF;
    }
  }
}
