@import '../../styles/nonStandardOrbit';
@import '../../styles/rightAnimation';
@import '../../styles/orbit';

.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-layout {
  width: 100%;
}

.home-initials {
  width: 80%;
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;

  .first-letter {
    color: #FFA5A5;
    display: block;
    line-height: 50px;
  }
  .second-letter {
    color: #FFE79D;
    display: block;
    line-height: 50px;
  }

  @media only screen and (min-width: 375px) {
    font-size: 65px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 110px;
    .first-letter, .second-letter {
      display: initial;
      line-height: initial;
    }
  }

  @media only screen and (min-width: 1280px) {
    font-size: 135px;
  }
}

.home-title {
  width: 80%;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  top: 10px;
  color: #FFF;

  @media only screen and (min-width: 375px) {
    font-size: 25px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 30px;
    top: -20px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 35px;
  }
}
