.home-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-layout {
  width: 100%;
}

.home-initials {
  width: 80%;
  font-size: 65px;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  margin-bottom: 10px;

  .first-letter {
    color: #FFA5A5;
    display: block;
    line-height: 50px;
  }
  .second-letter {
    color: #FFE79D;
    display: block;
    line-height: 50px;
  }

  @media only screen and (min-width: 375px) {
    font-size: 65px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 110px;
    margin-bottom: 0;
    .first-letter, .second-letter {
      display: initial;
      line-height: initial;
    }
  }

  @media only screen and (min-width: 1280px) {
    font-size: 135px;
  }
}

.home-title {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #FFF;
  font-family: monospace;
  height: 45px;

  @media only screen and (min-width: 375px) {
    font-size: 25px;
  }

  @media only screen and (min-width: 768px) {
    font-size: 30px;
    top: -20px;
  }

  @media only screen and (min-width: 1280px) {
    font-size: 35px;
  }
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
