.main-layout {
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

.menu-container {
  overflow: hidden;
  @media only screen and (min-width: 1280px) {
    display: none;
  }
}

.header {
  @media only screen and (max-width: 1279px) {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  @media only screen and (min-width: 1280px) {
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.header.open {
  z-index: 1;
}

.nav__link {
  margin-left: 20px;
  font-weight: bold;
  color: #FFFFFF;
  font-size: 25px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  padding: 5px 7px 5px 7px;
  &:hover {
    transition: all 0.3s ease-in;
    background: #FFF;
    color: #212121;
  }
  @media only screen and (max-width: 1279px) {
    display: none;
  }
}

.active--exact {
  border-bottom: 4px solid #212121;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
  background: #FFF;
  color: #212121;
}

.fade-enter-active {
  transition: opacity .5s;
}
.fade-enter {
  opacity: 0;
}
