.projects-layout {
  overflow: auto;
}

.projects-container {
  position: absolute;
  top: 15%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  color: #FFF;
  padding-bottom: 5%;

  @media only screen and (min-width: 1024px) {
    top: 10%;
  }

  h1 {
    margin-top: 0;
    text-align: center;
    width: 85%;
    @media only screen and (min-width: 1280px) {
      width: 65vw;
    }
  }

  @media only screen and (max-height: 850px) {
    padding: 10% 0;
  }

  @media only screen and (max-width: 450px), only screen and (max-height: 850px) {
    padding: 5% 0;
  }

  .project {
    flex-direction: column;
    justify-content: center;
    display: flex;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    transition: all 0.2s ease-in-out;
    &:first-of-type {
      margin-top: 0;
    }

    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }

    @media only screen and (min-width: 1280px) {
      width: 65vw;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 85%;
      }
      @media only screen and (min-width: 768px) {
        width: 50%;
      }
    }
    .text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        margin-top: 20px;
        margin-bottom: 0;
      }
      p {
        margin-top: 10px;
      }
      @media only screen and (min-width: 768px) {
        width: 50%;
      }
      &.extra-padding-right {
        margin-right: 35px;
      }
    }
  }
  .project.image-right {
    flex-direction: column-reverse;
    @media only screen and (min-width: 768px) {
      flex-direction: row;
    }
  }
}
