@keyframes right {
  0% {
    right: -150px;
  }
  50% {
    right: -115px;
  }
  100% {
    right: -150px;
  }
}

@keyframes right768 {
  0% {
    right: -150px;
  }
  50% {
    right: -115px;
  }
  100% {
    right: -150px;
  }
}

@keyframes right1920 {
  0% {
    right: -345px;
  }
  50% {
    right: -280px;
  }
  100% {
    right: -345px;
  }
}